<div class="background">
  <div class="shape"></div>
  <div class="shape-2"></div>
</div>

<form [formGroup]="loginForm" (ngSubmit)="submitForm()" class="form">
  <h3>Assistente de apostas Double Blaze</h3>

  <label for="username">Usuário</label>
  <input type="text" placeholder="Digite aqui seu Usuário" id="username" formControlName="username">

  <label for="password">Senha</label>
  <input type="password" placeholder="Digite aqui sua Senha" id="password" formControlName="password">

  <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
</form>
